*{
    margin: 0;
    padding: 0;
}
body,html{
    height:auto;
    width: auto;
    background-image:linear-gradient(#ffd200,#c33764,#1d2671);
}

.header{
    width: 100%;
    height: 100px;
    background-image: radial-gradient(#fdd819,#e80505);
}

.title{
    color: ;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 5em;
}

.logo{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 3em;
}

.image1{
    width: 400px;
    height: 300px;
    border: 0.8em solid cyan;
}

.image2{
    width: 400px;
    height: 300px;
    border: 0.8em dashed cyan;
    margin-left: 2em;
    margin-right: 2em;
}

.image3{
    width: 400px;
    height: 300px;
    border: 0.8em dotted cyan;
}

.image4{
    width: 400px;
    height: 300px;
    border: 0.8em groove cyan;
    margin-right: 1em;
}

.image5{
    width: 400px;
    height: 300px;
    border: 0.8em ridge cyan;
    margin-left: 1em;
}

.image6{
    width: 400px;
    height: 300px;
    border: 0.8em double cyan;
    margin-right: 1em;
}

.image7{
    width: 400px;
    height: 300px;
    border: 0.8em hidden cyan;
    margin-left: 1em;
}

.footer{
    height:auto;
    width: 100em;
    margin: auto; 
   border: 0.8em groove;
   background-color: #0e5cad;
   border-top-color: cyan;
   border-bottom-color: greenyellow;
   border-left-color: red;
   border-right-color: orange;
}

.footer h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer p{
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1em;
}